* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: KoHo, Roboto, Arial, Helvetica, sans-serif ;
}

.forecast {
    font-size: 1em;
}

span {
    font-size: 1em;
}

li:hover {
    background-color: #a0a0a0;
    text-decoration: underline;
}

