* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Roboto, KoHo, Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

#currentWeather {
    display: flex;
    align-items: center;
}

.forecast {
    font-size: 1em;
}

span {
    font-size: 1em;
}

li:hover {
    background-color: #a0a0a0;
    text-decoration: underline;
}

